h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted black;
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #1877f2;
  border-radius: 8%;
  padding: 20px;
}
button {
  background-color: black;
  color: white;
  border-radius: 24%;
}

/* Added media query for responsive design */
@media only screen and (max-width: 768px) {
  form {
    margin-left: 10%;
    margin-right: 10%;
  }
}